*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:inherit;
}
ul,ol{
  list-style: none;
}
button,input{
  font: inherit;
}
:focus{
  outline: none;
}
ol,ul,dl,p,h3{
  margin-bottom: 0 !important;
}